{% extends "base.html" %}

{% block content %}

<h1>Blogs</h1>

{% if query %}
    <p>Search result for: <b>{{ query }}</b></p>
{% endif %}

{% for blog in blogs %}
    <h2>
        <a href="{% url 'blog-detail' blog.id %}">
            {{ blog.title }}
        </a>
    </h2>

    <p>{{ blog.content|truncatewords:20 }}</p>
    <small>{{ blog.author.username }}</small>
    <hr>
{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endif %}

{% endblock content %}