{% extends "base.html" %}

{% block content %}

<h1>{{ blog.title }}</h1>

{% if user == blog.author %}

    <a href="{% url 'blog-edit' blog.id %}">Edit</a>

    <form method="POST" action="{% url 'blog-delete' blog.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

{% endif %}

<p>Category: {{ blog.category.name }}</p>

<p><b>Author:</b> 
    <a href="{% url 'profile' blog.author.username %}">
    {{ blog.author.username }}</a>
</p>

<p><b>Date:</b> {{ blog.created_at }}</p>

<form method="POST" action="{% url 'like-blog' blog.id %}">
    {% csrf_token %}

    {% if request.user in blog.likes.all %}
        <button type="submit">Unlike</button>
    {% else %}
        <button type="submit">Like</button>
    {% endif %}
</form>

<p>Likes: {{ blog.likes.count }}</p>

<p>{{ blog.content }}</p>

<h3>Comments</h3>

{% for comment in blog.comments.all %}
    <p>
        <b><a href="{% url 'profile' comment.author.username %}">{{ comment.author.username }}</a></b>: {{ comment.content }}
    </p>

    {% if request.user == comment.author %}
        <form method="POST" action="{% url 'delete-comment' comment.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    {% endif %}
    
{% endfor %}

{% if user.is_authenticated %}

<form method="POST" action="{% url 'add-comment' blog.id %}">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <button type="submit">Add Comment</button>
</form>

{% endif %}

<a href="/">Back</a>

{% endblock content %}